.comment-avatar {
    float: left; 
    width: 50px; 
    height: auto;
}

.comment-header {
    margin-left: 10px; 
    display: inline-block;
}

.comment-body {
    clear:both; 
    margin-top: 5px;
}