<div class="message js-message">
    <h5 class="js-message-title message-title"><h5>
    <div class="js-message-text message-text"></div>
    <input type="button" class="js-dismiss-message" value="Dismiss"/>
</div>
<form class="js-comment-form" action="{{ site.staticman.url }}" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input type="text" name="company" class="text-field" style="display: none">
    <input class="text-field" type="text" name="fields[name]" placeholder="Name" required/>
    <input class="text-field" type="email" name="fields[email]" placeholder="Email address (will not be public)" required/>
    <input class="text-field" type="url" name="fields[url]" placeholder="Website (optional)"/>
    <input class="text-field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>
    <textarea class="text-field" rows="10" name="fields[message]" placeholder="Comment. Markdown is accepted." required></textarea>
    <input type="submit" value="Send" />
</form>