{% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}

<section class="comments">
	<div>
		<div {% if site.data.comments[post_slug] == null %}aria-hidden="true"{% endif %}>
			<h2>Comments</h2>

			{% if site.data.comments[post_slug] %}
				{% assign wrappedComments = site.data.comments[post_slug] %}
                {% assign comments = site.emptyArray %}
				
				{% for wrapped in wrappedComments %}
                    {% assign comment = wrapped[1] %}
                    {% assign comments = (comments | push: comment) %}
				{% endfor %}

                {% assign sorted = comments | sort: "date" %}
                {% for comment in sorted %}
					{% include comments/comment.html index=forloop.index email=comment.email name=comment.name url=comment.url date=comment.date message=comment.message %}
                {% endfor %}
			{% endif %}
		</div>

		<h2>Leave a comment</h2>
		{% include comments/comment-form.html %}
	</div>
</section>
